body{
    margin: 0;
}


header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    height: 120px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 20px;

}

nav ul{
    list-style-type: none; /*quitar puntos*/
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
     margin-left: 20px; 
}

nav ul li a { 
    text-decoration:none; 
    color: rgb(255, 255, 255); 
    padding: 10px 30px;  
    background-color: 0.3s; 
} 


nav ul li a:hover { 
    background-color: #0aa6c2b2; 
    border-radius: 5px;
    color: #000000; 
}

.logo img{
    height: 80px ;
}


.contenedor1{
    width: 100%;
    height: auto;
    background-color: #0aa6c2;
    position: relative;
    margin-bottom: 0px;
}

.contenedor1 .video{
    position: relative;
    text-align: center;
    width: 100%;
}

.titulovideo{
    position: absolute;
    top: 30%; /*posicion donde va el texto MUNDO WEB*/
    left: 27%;
    text-align: center;
    
    
}
.titulovideo h2{
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    background-color: #ffffff96;
    width: 100%;
    font-family: "Rowdies", sans-serif;
    font-size: 80px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 15px 40px;
    background-color: #ffffff9c;
    color: #0e0e0e;
    text-decoration: none;
    border: 3px dashed #0a0a0a;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    font-family: "Rowdies", sans-serif;
}
 
.btn:hover {/*SE CAMBIA EL COLOR DEL BOTON*/
    background-color: #0aa6c28c;
    color: #ffffff;
    border: 4px solid #0aa6c2;
}

.contenedor2 {
    padding: 5px;
    text-align: center;
    background-color: #0aa6c2; /* Color de fondo para destacar la sección */
    margin-top: 0; /* Espacio entre el video y esta sección */
    font-family: "Chakra Petch", serif;
    
}

.datos h2 {
    font-size: 60px;
    color: #ffffff;
    text-decoration: overline underline;
}

.datos p {
    font-size: 20px;
    color: #030742;
}



.grilla1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: #0aa6c2;
    color: #3436ac;
    padding: 30px;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    box-sizing: border-box; /* Asegura que el padding se incluya en el cálculo del tamaño */
    height: 550px;
   
}
  
.caja {
    background-color: #000000;
    color: #3436ac;
    border-radius: 0px;
    padding: 20px;
    font-size: 150%;
    height: 450px; /* Permite que las cajas crezcan según su contenido */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Chakra Petch", serif;
    
}

.caja img{
    width: 100%;
    height: 100%;
    border-radius: 0px
}



.b form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.b label {
    margin-bottom: 10px;
    font-weight: bold;
}

.b button{
    margin: 10px;
    padding: 8px;
}

.b button:hover{
    padding: 15px 15px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: flex-end;
}

.b button:hover {
    background-color: #0aa6c2;
}


.filas label {
    margin-right: 90px; /* Espacio entre la etiqueta y el campo de entrada */
    width: 180px; /* Ancho fijo para las etiquetas */
}

.filas {
    display: flex;
    align-items: center;
}

.filas input, .filas textarea {
    padding: 5px;
    font-size: 1em;
    border: 3px solid #3436ac;
    border-radius: 5px;
    width: 100%; /* Hace que los campos de entrada ocupen el espacio disponible */
}

.contenedor4 {
    padding: 20px;
    text-align: center;
    background-color: #000000; /* Color de fondo para destacar la sección */
    margin-top: 0; /* Espacio entre el video y esta sección */
    font-family: "Chakra Petch", serif;
    
}

.mapa h2{
    font-size: 50px;
    color: white;
    text-decoration: overline underline
}

.mapa p{
    font-size: 20px;
    color: white;
}


.google-map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Ajusta la altura según lo necesites */
    width: 100%;
}

.google-map iframe {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.contenedor5 {
    padding: 50px;
    background-color: #3436ac;
    color: rgb(0, 0, 0);
    font-family: "Chakra Petch", serif;
    text-align: center;
}

.galeria {
    text-align: center;
    margin-bottom: 20px;
}

.galeria h2 {
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
    text-decoration: overline underline
}

.galeria p {
    font-size: 20px;
    color: #000000;
}

/* Configuración de la cuadrícula */
.grilla2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    grid-template-rows: auto auto; /* 2 filas */
    gap: 20px;
    padding: 20px;
}

.grilla-imagen {
    background-color: #0aa6c2;
    border: 5px solid #000000;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.grilla-imagen:hover {
    transform: scale(1.05); /* Ampliación de la celda */
}

.grilla-imagen img {
    width: 100%;
    height: auto;
    border-radius: 2px;
    transition: transform 0.3s ease; /* Animación al pasar el cursor */
}

.grilla-imagen img:hover {
    transform: scale(1.05); /* Efecto de zoom */
}

.grilla-imagen p {
    padding: 10px;
    background-color: #0aa6c2;
    margin: 0;
    font-size: 14px;
    color: #ffffff;
    font-size: 30px;
    font-family: "Rowdies", serif;

}

.grilla-imagen.fila2 {
    grid-column: span 2; /* Ocupa dos columnas de ancho */
}



/* Estilos generales del pie de página */
.footer {
    background-color: #000000;
    color: #fff;
    padding: 10px 10px;
    font-family: Arial, sans-serif;
}

.footer-contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    grid-template-rows: repeat(2, auto); /* 2 filas */
    gap: 20px;
}

/* Estilos para cada item de la cuadrícula */
.footer-item {
    text-align: center;
}

.footer-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #0aa6c2; /* Color destacado para títulos */
    font-family: "Moul", serif;
    font-style: bold;
}

.footer-item p {
    font-size: 14px;
    margin: 5px 0;
    font-family: "Moul", serif;
}

/* Estilos para iconos de redes sociales */
.social-icons a {
    margin: 0 40px;
    display: inline-block;
    width: 50px;
    height: 14px;
    text-decoration: none;
    color: #ffffff;
}

a :hover{
    color: #0aa6c2;
}


